<img {{ img | image_srcset }} alt="{{ caption }}" class="image" />
<a href="{{ url }}" target="_blank" class="caption" yawb-editable="caption" yawb-element="caption">{{ caption | singlelineText }}</a>
