<img {{ img | image_srcset }} alt="{{ caption }}" class="image" />
<a href="{{ url }}" target="_blank" class="caption" alpacapp-editable="caption" alpacapp-element="caption">{{ caption | singlelineText }}</a>
